<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
  .demo{border:4px solid gray;
  padding:40px;background-color:green;}
.how{color:red;background-color:yellow;}
  </style>

</head>
<body>
<center>
     <div class="demo">
<h1 class="how">Registration form</h1>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br><br>
    <input type="password" name="password" placeholder="enter your password"><br><br>
    <input type="submit">
</form>
</center>
</body>
</html>